/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
/*
	margin: 16px;
	border-radius: 4px;
	padding: 16px;
	background-color: #E0E0E0;
*/
}

.onyx-button {
	padding: 2px;
}

.onyx-picker-decorator .onyx-button {
	padding: 3px;
	min-width: 40px;
}

.onyx-menu-item {
	padding: 3px;
}

.onyx-input-decorator {
	padding: 0px 8px 0px 8px;
	background-color: white;
}

.logo {
	width: 550px;
	overflow: hidden;
}
 
.header {
	background-color: #89B13F;
	height: 104px;
	background-image: url(../assets/headerBar.png);
	background-repeat: no-repeat;
	background-position: left;
}
