/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	margin: 16px;
	border-radius: 4px;
	background: url(../assets/bg.png);
	padding: 16px;
}

.shadow {
	box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
}
.onyx-button {
	padding: 2px;
}

.onyx-picker-decorator .onyx-button {
	padding: 3px;
}

.onyx-menu-item {
	padding: 3px;
}
