.JobView {
        background-color: #E0E0E0;
}

.group-header {
	font-size: x-large;
	background-color: black;
	border: solid;
	background-color: black;
	color: grey;
}

.image-header {
	font-size: small;
	padding: 2px;
	margin: 2px;
}

.thumbnail {
	max-width: 360px;
	max-height: 270px;
}

.job-error {
	font-size: xx-large;
	text-align: center;
	border: solid;
	background-color:red;
}
