.JobView {
        background-color: #E0E0E0;
}

.group-header {
	font-size: x-large;
	background-color: #D1D1D1;
	border: solid;
	border-color: white;
	color: black;
	background-image: url(../assets/tri.png);
	background-position: left center;
	padding-left: 18px;
	background-repeat: no-repeat;
}

.group-header:hover {
	background-color: #A3CC66;
}

.group-header-act {
	background-image: url(../assets/downtri.png);
}

.image-header:hover {
	background-color: #D6E6BC;
}
.image-header {
	font-size: small;
	padding: 2px;
	margin: 2px;
	background-color: #EAEAEA;
}

.thumbnail {
	max-width: 360px;
	max-height: 270px;
}

.job-error {
	font-size: xx-large;
	text-align: center;
	border: solid;
	background-color:red;
}

.legend {
	width: 200px;
}

.graph {
	width: 100%;
	height: 300px;
}
.color-border {
	border: 1px solid #ccc;
	padding: 1px;
}
.legend-label {
	padding-left: 2px;
	font-size: smaller;
	color: #545454;
}
